@import url('./Variables.css');

table {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  background-color: var(--primario);
  padding: 15px;
  border-radius: 2rem;
}

.head th{
  background-color: #257f8d;
  border-radius: 2rem;
  padding: 5px;
}

td {
  padding: 3px;
}