.Results-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.Results-table {
  width: 100%;
  max-width: 800px;
}

.Results-row {
  display: flex;
  align-items: center;
  background-color: rgba(238, 230, 230, 0.1);
  margin-bottom: 10px;
  padding: 10px;
  transition: background-color 0.3s;
}

.Results-row:hover {
  background-color: rgba(98, 64, 143, 0.2);
}

.Results-icon {
  flex: 0 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Results-content {
  flex: 1;
  margin-left: 10px;
}

.Results-title {
  color: rgb(19, 17, 17);
  font-size: 20px;
  margin-bottom: 5px;
}

.Results-description {
  margin-bottom: 10px;
}

.Results-button {
  display: inline-block;
  padding: 8px 12px;
  background-color: rgb(73, 14, 94);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.Results-button:hover {
  background-color: darkpurple;
}

@media screen and (max-width: 600px) {
  .Results-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .Results-icon {
    margin-bottom: 10px;
  }

  .Results-content {
    margin-left: 0;
  }

  .Results-description {
    margin-bottom: 0;
  }
}
